@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

.login-container {
    background: linear-gradient(-45deg, #ffc500, #c21500, #FBD3E9, #BB377D);
    background-size: 400% 400%;
    animation: gradient 12s ease infinite;
    -moz-animation: gradient 12s ease infinite; /* Firefox */
    -webkit-animation: gradient 12s  ease infinite; /* Safari and Chrome */
    -o-animation: gradient 12s ease infinite; /* Opera */
}

.card, .wrap {
    position: relative;
    width: 300px;
    height: 500px;

    perspective: 800px;
}

.wrap {
    transition: 0.8s;
    transform-style: preserve-3d;
}

.back,
.front {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 6px 0 gray;
}

.front {
    z-index: 1;
}

.back {
    transform: rotateY(180deg)
}

/*.card:hover .wrap {*/
/*    transform: rotateY(180deg);*/
/*}*/

/*===================================================================================*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

:root[color-theme='light'] {
    --background: #fff;
    --dark-background: #fdfdfd;
    --color: #000;
    --warning: rgb(255, 0, 0);
}

:root[color-theme='dark'] {
    --background: #1e1e1e;
    --dark-background: #1b1b1b;
    --color: #fff;
    --warning: rgb(255, 0, 0);
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-column-start {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.flex-row-start {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.wrap-container {
    width: 100vw;
    height: 100vh;

    background-color: var(--background);
    color: var(--color);
}

.main-container {
    max-width: 1000px;
    width: 100%;
    height: 650px;
    overflow-y: scroll;

    justify-content: start !important;

    box-shadow: 0 0 4px gray;
}

.comment-container {
    width: 100%;
    height: 300px;

    justify-content: start !important;

    display: none;
}

.comment {
    margin: 20px 0 20px 20px;
}

.post-container {
    max-width: 700px;
    width: 80%;

    position: relative;
    margin: 20px 0;

    transition: 0.05s;
    box-shadow: 0 0 4px gray;
}

.post-container > div:nth-child(1) {
    cursor: pointer;
    width: 100%;
    box-shadow: 0 0 4px gray;
}

.scroll-container {
    overflow-y: scroll;
}

.post-container:hover {
    transform: scale(1.05);
}

.post-container-div {
    width: 100%;
    height: 100px;
    padding-left: 20px;

    justify-content: space-around !important;
}

#search {
    max-width: 600px;
    width: 80%;
    height: 60px;
    margin: 30px 0;
    font-size: 24px;
    border: none;
    border-bottom: 1px solid gray;
    outline: none;
}

.heart-btn {
    width: 50px;

    cursor: pointer;
    user-select: none;
    transition: 0.2s;
}

.heart-btn:hover {
    transform: scale(1.1);
}

.heart-cnt {

}