<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>메인</title>

    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
    <div class="flex-column-center main-container">
        <input id="search" placeholder="게임을 검색해주세요"/>
        <div class="scroll-container flex-column-center">
            <div class="post-container flex-row-start">
                <img style="width: 100px;" src="https://tistory4.daumcdn.net/tistory/3830649/attach/1829f8675826466aa7cda4bbcc66ef2f" alt="썸네일">
                <div class="flex-column-start post-container-div">
                    <div>제목입니다람쥐</div>
                    <div class="flex-row-start">
                        <div>작성자</div>
                        <div style="margin-left: 50px;">2022-03-07</div>
                    </div>
                    <a href="https://www.youtube.com/watch?v=r4MTXwcXHHc">https://www.youtube.com/watch?v=r4MTXwcXHHc</a>
                </div>
                <div class="good-btn">♡</div>
            </div>
            <div class="post-container flex-row-start">
                <img style="width: 100px;" src="https://tistory4.daumcdn.net/tistory/3830649/attach/1829f8675826466aa7cda4bbcc66ef2f" alt="썸네일">
                <div class="flex-column-start post-container-div">
                    <div>제목입니다람쥐</div>
                    <div class="flex-row-start">
                        <div>작성자</div>
                        <div style="margin-left: 50px;">2022-03-07</div>
                    </div>
                    <a href="https://www.youtube.com/">https://www.youtube.com/</a>
                </div>
                <div class="good-btn">♡</div>
            </div>
            <div class="post-container flex-row-start">
                <img style="width: 100px;" src="https://tistory4.daumcdn.net/tistory/3830649/attach/1829f8675826466aa7cda4bbcc66ef2f" alt="썸네일">
                <div class="flex-column-start post-container-div">
                    <div>제목입니다람쥐</div>
                    <div class="flex-row-start">
                        <div>작성자</div>
                        <div style="margin-left: 50px;">2022-03-07</div>
                    </div>
                    <a href="https://www.youtube.com/">https://www.youtube.com/</a>
                </div>
                <div class="good-btn">♡</div>
            </div>
            <div class="post-container flex-row-start">
                <img style="width: 100px;" src="https://tistory4.daumcdn.net/tistory/3830649/attach/1829f8675826466aa7cda4bbcc66ef2f" alt="썸네일">
                <div class="flex-column-start post-container-div">
                    <div>제목입니다람쥐</div>
                    <div class="flex-row-start">
                        <div>작성자</div>
                        <div style="margin-left: 50px;">2022-03-07</div>
                    </div>
                    <a href="https://www.youtube.com/">https://www.youtube.com/</a>
                </div>
                <div class="good-btn">♡</div>
            </div>
            <div class="post-container flex-row-start">
                <img style="width: 100px;" src="https://tistory4.daumcdn.net/tistory/3830649/attach/1829f8675826466aa7cda4bbcc66ef2f" alt="썸네일">
                <div class="flex-column-start post-container-div">
                    <div>제목입니다람쥐</div>
                    <div class="flex-row-start">
                        <div>작성자</div>
                        <div style="margin-left: 50px;">2022-03-07</div>
                    </div>
                    <a href="https://www.youtube.com/">https://www.youtube.com/</a>
                </div>
                <div class="good-btn">♡</div>
            </div>
            <div class="post-container flex-row-start">
                <img style="width: 100px;" src="https://tistory4.daumcdn.net/tistory/3830649/attach/1829f8675826466aa7cda4bbcc66ef2f" alt="썸네일">
                <div class="flex-column-start post-container-div">
                    <div>제목입니다람쥐</div>
                    <div class="flex-row-start">
                        <div>작성자</div>
                        <div style="margin-left: 50px;">2022-03-07</div>
                    </div>
                    <a href="https://www.youtube.com/">https://www.youtube.com/</a>
                </div>
                <div class="good-btn">♡</div>
            </div>
            <div class="post-container flex-row-start">
                <img style="width: 100px;" src="https://tistory4.daumcdn.net/tistory/3830649/attach/1829f8675826466aa7cda4bbcc66ef2f" alt="썸네일">
                <div class="flex-column-start post-container-div">
                    <div>제목입니다람쥐</div>
                    <div class="flex-row-start">
                        <div>작성자</div>
                        <div style="margin-left: 50px;">2022-03-07</div>
                    </div>
                    <a href="https://www.youtube.com/">https://www.youtube.com/</a>
                </div>
                <div class="good-btn">♡</div>
            </div>
        </div>
    </div>
</body>
</html>