<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>이고바바</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>

    <div class="wrap">
        <div class="sign-up">
            <h1>회원가입</h1>
            <input type="text" placeholder="아이디">
            <input type="text" placeholder="비밀번호">
            <input type="text" placeholder="비밀번호 확인">
            <input type="text" placeholder="나이">
            <input type="text" placeholder="닉네임">
            <button>회원가입</button>
        </div>
    </div>

</body>
</html>